.main-container{
    background: #0F0F0F;
}

.flow-box {
    border-radius: 15px;
    background: #232D3F;
    padding: 10px;
    margin: 10px;
}

.crypto-card{
    border-radius: 15px;
    background: #1b2331;
    padding: 10px;
    
}

.card-button{
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border-width: 0;
    margin: 2px;
}

.card-button:hover {
    background: white;
    color: black;
}

.follow-button {
    background: #008170;
}
.unfollow-button{
    background: #ED2B2A;
}

.info-button{
    background: #0d68ad;
}

.card-image {
    margin: 10px;
}

/* .load-more-btn {
    width: 100px;
    height: 50px;
    background: white;
} */